@charset "UTF-8";
body {
  background-color: rgb(239, 240, 241);
}

main {
  padding: 20px;
  margin-bottom: 20px;
}

header {
  width: 100%;
  display: flex;
  margin-top: 5px;
  border-bottom: 2px;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(192, 192, 148);
}
header h1 {
  font-family: "Lobster", sans-serif;
}

.linkmenu a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: aliceblue;
  background: rgb(110, 47, 47);
  border-radius: 10px;
  padding: 10px;
}

.logoweb1 {
  width: 60px;
  padding-left: 10px;
  margin-right: 10px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  margin-top: 10px;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

.collage {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 50px;
}

.contenedor-seccion {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #f1e2e2;
}

.listaseccion {
  background-color: #f0e5e5;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  box-shadow: 0 4px 8px rgb(110, 47, 47);
}

.portadas {
  padding: 20px;
  text-align: center;
}
.portadas img {
  width: 300px;
  border-radius: 8px 8px 0 0;
}

.botonmas {
  text-decoration: none;
  background-color: #28582a;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
}

.videotrailer {
  display: block;
  float: right;
  width: 640px;
  height: 360px;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: underline;
  font-size: 400px;
  margin-top: 0px;
}

p {
  font-family: "Open Sans", sans-serif;
}

.contenedor-blog {
  display: flex;
  flex-wrap: wrap;
  margin-left: 250px;
  margin-right: 250px;
}

.especias {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  background-color: rgb(237, 231, 231);
  box-shadow: 0 4px 8px rgb(110, 47, 47);
}
.especias img {
  max-width: 200px;
  height: auto;
  margin-right: 10px;
}

.negrita {
  font-weight: bold;
  font-size: 1.1em;
}

.texto-especias {
  margin-left: 10px;
}

.contenedor-box-contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  padding: 50px 55px;
  box-shadow: 0 0 20px rgb(5, 4, 4);
  border-radius: 20px;
  width: 50%;
}

.contenedor-contacto {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  font-weight: bold;
  margin-bottom: 15px;
  color: rgb(8, 8, 8);
}

input, textarea {
  padding: 10px 17px;
  border: 2px solid #9b9999;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.contenedor-recetas {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.descripcion-collage {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 900;
}

.bonton-mas {
  display: inline-block;
  font-weight: 500px;
  font-size: 16px;
  padding: 10px 20px;
  border: 2px solid #333;
  background-color: #fff;
  text-decoration: none; /* Para quitar el subrayado del enlace */
  color: #333; /* Color del texto */
  cursor: pointer;
}

.bonton-mas::after {
  content: "→";
  margin-left: 5px;
}

.receta {
  padding: 20px;
  text-align: center;
}
.receta img {
  width: 50%;
  border-radius: 8px 8px 0 0;
}
.receta p {
  margin-bottom: 10px;
}

.contenedor-centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  margin-right: 300px;
  margin-left: 300px;
}

.dibujobuffalo {
  width: 600px;
  height: auto;
  margin-top: 20px;
}

.texto-biografia {
  font-size: 25px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

footer {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

div ol li {
  display: inline-table;
  padding-left: 20px;
  margin-top: 0 10px;
}

.logo {
  width: 50px;
  height: auto;
}

/** Adaptado a Movil **/
@media screen and (max-width: 768px) {
  body {
    display: block;
  }
  /** header **/
  .logoweb1 {
    margin-right: 10px;
  }
  .titulo {
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  .linkmenu a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: aliceblue;
    background: rgb(110, 47, 47);
    border-radius: 6px;
    padding: 1px;
  }
  nav ul li {
    list-style: none;
    display: inline-block;
    margin: 1px;
    margin-top: 10px;
  }
  /** main index **/
  .contenedor-seccion {
    flex-direction: column;
  }
  .portadas img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  .videotrailer {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .collage {
    margin-bottom: 5px;
  }
  /** recetas **/
  .contenedor-recetas {
    display: block;
  }
  .receta img {
    width: 100%;
  }
  .descripcion-collage {
    font-size: 20px;
  }
  /** biografia **/
  .contenedor-centrado {
    margin-left: 5px;
    margin-right: 5px;
  }
  .dibujobuffalo {
    width: 100%;
    height: auto;
  }
  .texto-biografia {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
  }
  /** blog **/
  .contenedor-blog {
    margin: 0;
  }
  .especias {
    width: 100%;
    display: block;
  }
  /** contacto **/
  form {
    padding: 50px 30px;
    width: 100%;
  }
  .contenedor-box-contacto {
    display: flex;
    margin-block: 50px;
  }
  /** footer **/
  div ol li {
    width: 30px;
    margin-right: 50px;
  }
}
/** adaptado tablet **/
@media screen and (max-width: 1200px) {
  body {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
