@charset "UTF-8";
main {
  margin-top: 80px;
  padding-top: 20px;
  background-image: url("../imagenes/fondo-web.jpg");
}

footer {
  background-color: rgb(224, 224, 220);
}

header {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0px;
  margin-top: 0px;
  justify-content: space-around;
  border-bottom: 2px;
  align-items: center;
  z-index: 1000;
  background-color: rgb(224, 224, 220);
}
header h1 {
  font-family: "Lobster", sans-serif;
}

.linkmenu a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: aliceblue;
  background: rgb(153, 64, 64);
  border-radius: 10px;
  padding: 5px;
  margin: 0 5px;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  margin-top: 10px;
}

.logoweb1 {
  width: 60px;
  margin-right: 10px;
  margin-left: 20px;
}

main::after {
  content: "";
  display: table;
  clear: both;
}

.collage {
  width: 100%;
  height: auto;
  margin-bottom: 50px;
}

.contenedor-seccion {
  display: flex;
  justify-content: space-around;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 40px;
  border-radius: 10px;
}

.listaseccion {
  background-color: #fcfbfb;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
}

.portadas {
  padding: 20px;
  text-align: center;
}
.portadas img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}

.botonmas {
  text-decoration: none;
  background-color: #28582a;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
}

p {
  font-family: "Open Sans", sans-serif;
}

.contenedor-bienvenida {
  margin-top: 80px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
}

.imagen-redonda {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 100px;
}

.texto-bienvenida {
  font-size: 20px;
  margin-right: 100px;
}

.imagen-redonda-blog {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 50px;
}

.texto-bienvenida-blog {
  font-size: 20px;
  margin-left: 300px;
}

.contenedor-blog {
  display: flex;
  flex-wrap: wrap;
  margin-left: 250px;
  margin-right: 250px;
}

.especias {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  background-color: rgb(237, 231, 231);
  box-shadow: 0 4px 8px rgb(110, 47, 47);
}
.especias img {
  max-width: 200px;
  height: auto;
  margin-right: 10px;
}

.negrita {
  font-weight: bold;
  font-size: 1.1em;
}

.texto-especias {
  margin-left: 10px;
}

.contenedor-box-contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  padding: 50px 55px;
  box-shadow: 0 0 20px rgb(5, 4, 4);
  border-radius: 20px;
  width: 50%;
}

.contenedor-contacto {
  display: flex;
  flex-direction: column;
  text-align: left;
}

label {
  font-weight: bold;
  margin-bottom: 15px;
  color: rgb(8, 8, 8);
}

input, textarea {
  padding: 10px 17px;
  border: 2px solid #9b9999;
  border-radius: 10px;
  font-size: 16px;
  margin-bottom: 20px;
}

.contenedor-recetas {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.descripcion-collage {
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 900;
}

.bonton-mas {
  display: inline-block;
  font-weight: 500px;
  font-size: 16px;
  padding: 10px 20px;
  border: 2px solid #333;
  background-color: #fff;
  text-decoration: none; /* Para quitar el subrayado del enlace */
  color: #333; /* Color del texto */
  cursor: pointer;
}

.bonton-mas::after {
  content: "→";
  margin-left: 5px;
}

.receta {
  padding: 20px;
  text-align: center;
}
.receta .imagen-recetas {
  width: 50%;
  border-radius: 8px 8px 0 0;
}
.receta p {
  margin-bottom: 10px;
}

.contenedor-centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  margin-right: 300px;
  margin-left: 300px;
}

.dibujobuffalo {
  width: 600px;
  height: auto;
  margin-top: 20px;
}

.texto-biografia {
  font-size: 25px;
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
}

footer {
  margin: 20px;
  padding: 20px;
  text-align: center;
}

div ol li {
  display: inline-table;
  padding-left: 20px;
  margin-top: 0 10px;
}

.logo {
  width: 50px;
  height: auto;
}

h4 {
  font-size: small;
}

/** Adaptado a Movil **/
@media screen and (max-width: 768px) {
  body {
    display: block;
  }
  /** header **/
  .logoweb1 {
    margin-right: 10px;
  }
  .titulo {
    display: flex;
    align-items: center;
    font-size: 15px;
  }
  .linkmenu a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: aliceblue;
    background: rgb(110, 47, 47);
    border-radius: 6px;
    padding: 1px;
  }
  nav ul li {
    list-style: none;
    display: inline-block;
    margin: 1px;
    margin-top: 10px;
  }
  /** main index **/
  .contenedor-seccion {
    flex-direction: column;
  }
  .portadas img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  .collage {
    margin: 0px;
  }
  .contenedor-bienvenida {
    animation: none;
    margin: 0px;
    display: block;
  }
  .imagen-redonda {
    width: 100%;
    height: auto;
    margin: 0px;
    padding-top: 1px;
  }
  .imagen-redonda-blog {
    width: 100%;
    margin: 0px;
    padding-top: 1px;
  }
  .texto-bienvenida {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .texto-bienvenida-blog {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
  }
  /** recetas **/
  .contenedor-recetas {
    display: block;
  }
  .imagen-recetas {
    width: 100% !important;
  }
  .receta {
    padding: 0%;
    text-align: left;
  }
  .descripcion-collage {
    font-size: 20px;
  }
  /** biografia **/
  .contenedor-centrado {
    margin-left: 5px;
    margin-right: 5px;
  }
  .dibujobuffalo {
    width: 100%;
    height: auto;
  }
  .texto-biografia {
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
  }
  /** blog **/
  .contenedor-blog {
    margin: 0;
  }
  .especias {
    width: 100%;
    display: block;
  }
  /** contacto **/
  form {
    padding: 50px 30px;
    width: 100%;
  }
  .contenedor-box-contacto {
    display: flex;
    margin-block: 50px;
  }
  /** footer **/
  div ol li {
    width: 30px;
    margin-right: 50px;
  }
}
/** adaptado tablet **/
@media screen and (max-width: 1200px) {
  body {
    display: block;
  }
}

/*# sourceMappingURL=style.css.map */
