body {
    background-color: rgb(239, 240, 241);

}

main {
  padding: 20px;
  margin-bottom: 20px;
}

/*** Header ***/

header {
    width: 100%;
    display: flex;
    margin-top: 5px;
    border-bottom: 2px;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(192, 192, 148);
    
}

header h1 {
    font-family: 'Lobster', sans-serif;
}

.linkmenu a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: aliceblue;
    background: rgb(110, 47, 47);
    border-radius: 10px;
    padding: 10px;
}


.logoweb1 {
    width: 60px;
    padding-left: 10px;
    margin-right: 10px;
}


nav ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    margin-top: 10px;
}



/** main **/

main::after {
  content: "";
  display: table;
  clear: both;
}

.collage {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 50px;
}

.contenedor-seccion {
display: flex;
justify-content: space-around;
padding: 20px;
margin-bottom: 40px;
border-radius: 10px;
background-color: #f1e2e2

}

.listaseccion {
background-color: #f0e5e5;
border: 1px solid #ddd;
border-radius: 8px;
overflow: hidden;
margin: 10px;
box-shadow: 0 4px 8px rgb(110, 47, 47);
}

.portadas {
padding: 20px;
text-align: center;
}

.portadas img {
width: 300px;
border-radius: 8px 8px 0 0;
}

.botonmas {
text-decoration: none;
background-color: #28582a;
color: white;
padding: 10px 20px;
border-radius: 5px;
display: inline-block;
}

.videotrailer {
  display: block;
  float: right;
  width: 640px;
  height: 360px;

}

.disfrutatexto {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.disfrutatexto::before,
.disfrutatexto::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 50%;
  height: 1px;
  background-color: #000;
  transform: translateY(-50%);
}

.disfrutatexto::before {
  left: 0;
  transform: translateX(-100%);
}

.disfrutatexto::after {
  right: 0;
  transform: translateX(100%);
}


h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  text-decoration: underline;
  font-size: 400;
  margin-top: 0px;
}

p {
  font-family: 'Open Sans', sans-serif;
}

/** Blog **/

.contenedor-blog {
    display: grid;
    flex-wrap: wrap;
    margin-left: 250px;
    margin-right: 250px;
  }
  
  .especias {
    width: 100%;
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    background-color: rgb(237, 231, 231);
    box-shadow: 0 4px 8px rgb(110, 47, 47);
  }
  
  .especias img {
    max-width: 200px;
    height: auto;
    margin-right: 10px;
  }

  .negrita {
    font-weight: bold;
    font-size: 1.1em; 
  }
  
  .texto-especias {
    margin-left: 10px;
  }

/** contacto **/

form {
    margin-top: 20px;
    
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: rgb(8, 8, 8);

}

input[type="text"],
textarea {
    display: block;
    width: 50%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

/** recetas **/

.contenedor-recetas {
    display: flex;
    justify-content: space-around;
    padding: 20px;
  }
  
.listarecetas {
    background-color: #f0e5e5;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    margin: 10px;
    box-shadow: 0 4px 8px rgb(110, 47, 47);
  }
  
.receta {
    padding: 20px;
    text-align: center;
  }
  
.receta img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  
.receta h3 {
    margin-top: 0;
  }
  
  .receta p {
    margin-bottom: 10px;
  }
  
  .receta a {
    text-decoration: none;
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    display: inline-block;
  }

/** biografia **/

.contenedor-centrado {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh; /* Ajusta según sea necesario */
  text-align: center;
}

.dibujobuffalo {
  width: 600px;
  height: auto;
  margin-top: 20px;

  }

  .texto-biografia {
    font-size: 25px;
    margin-left: 100px;
    margin-right: 100px;
  }
  


/** footer **/

footer {
    margin: 20px;
    padding: 20px;
    text-align: center;

}

div ol li {
    display: inline-table;
    padding-left: 20px;
    margin-top: 0 10px;
}

.logo {
    width: 50px;
    height: auto;
}


/** Adaptado a Movil **/

@media screen and (max-width: 576px) {

body { 
  display: block;

}

/** header **/

.logoweb1 {
  width: 45px;
  margin-right: 5px;
  margin-left: 0px;
}



.titulo {
  display: flex;
  align-items: center;
  font-size: 20px;
}

.linkmenu a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: aliceblue;
  background: rgb(110, 47, 47);
  border-radius: 6px;
  padding: 1px;
}


nav ul li {
  list-style: none;
  display: inline-block;
  margin: 1px;
  margin-top: 10px;
}

/** main index **/

.contenedor-seccion {
  flex-direction: column;

}

.portadas img {
  width: 100%;
  border-radius: 8px 8px 0 0;
  }
  
.videotrailer {
  width: 100%;
  height: auto;
 margin-bottom: 10px;
}



.collage {
  margin-bottom: 5px;
}

/** blog **/ 

.contenedor-blog {
  margin: 0;
}

}
