.contenedor-box-contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  form {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgb(5, 4, 4);
    border-radius: 20px;
    width: 50%;
  }
  
  .contenedor-contacto {
    display: flex;
    flex-direction: column;
    text-align: left;
  }
  
  label {
    font-weight: bold;
    margin-bottom: 15px;
    color: rgb(8, 8, 8);
  }
  
  input, textarea {
    padding: 10px 17px;
    border: 2px solid #9b9999;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 20px;
  }
  